body {
    background: linear-gradient(to right, rgb(110, 53, 133), rgb(83, 108, 136));
    opacity: 0;
    filter: blur(5px);
    transition: filter 0.15s ease, opacity 0.15s ease;
    font-family: Arial;
}

@font-face {
    font-family: 'minecraftfont';
    src: url('resources/minecraftfont.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}

body.loaded {
    filter: blur(0);
    opacity: 1;
}

.hidden {
    display: none;
}

.blur-out {
    filter: blur(5px);
    opacity: 0;
    transition: filter 0.5s ease, opacity 0.5s ease;
}  

@keyframes blurIn {
    from {
        opacity: 0;
        filter: blur(5px);
    }
    to {
        opacity: 1;
        filter: blur(0);
    }
}

header {
    padding-top: 5px;
}

h1, p, h2 {
    text-align: center;
}

h2 {
    color: white;
}

h2 img {
    vertical-align: middle;
    margin-right: 20px;
}

.modal {
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 999;
    cursor: zoom-out;
    opacity: 0;
    filter: blur(5px);
    transition: opacity 0.3s ease, filter 0.3s ease;
    pointer-events: none;
}

.modal.show {
    opacity: 1;
    filter: blur(0);
    pointer-events: auto;
}

.modal img {
    max-width: 90%;
    max-height: 90%;
    border-radius: 10px;
    box-shadow: 0 0 20px black;
    border: 5px solid black;
    cursor: default;
}

#modal-close {
    position: absolute;
    top: 30px;
    right: 40px;
    font-size: 40px;
    color: white;
    cursor: pointer;
    z-index: 1000;
}

.modal-content {
    width: 90vw;
    height: 90vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

.modal.hidden {
    display: none;
}


figcaption {
    color: white;
    font-weight: bolder;
}

.img-round {
    border-radius: 8px;
    border: 3px solid #31313194
}

.hoverable {
    transition: transform 0.3s ease, box-shadow 0.3s ease, border 0.3s ease, filter 0.3s ease, opacity 0.3s ease, background-position 0s;
}

.hoverable:hover {
    transform: scale(1.05);
    border: 3px solid #fb87ff94;
    box-shadow: 0 10px 10px rgba(0, 0, 0, 0.2);
}

.language {
    display: flex;
    align-items: center; /* Aligns the items vertically in the center */
    gap: 10px; /* Adds spacing between the image and text */
    font-size: 24px;
    color: white;
}

.medium-font {
    font-size: 17px;
}

.small-font {
    font-size: 13px;
}

.languages {
    margin-left: 20%;
    margin-right: 25%;
    margin-top: 0
}

.language img {
    width: 40px; /* Adjust image size if necessary */
    height: 40px;
}

h1 {
    color: white;
    width: 500px;
    margin-left: auto;
    margin-right: auto;
    font-size: 50px;
}

.body-text {
    width: 50%;
    margin-left: auto;
    margin-right: auto;
    border-radius: 8px;
    height: 50%;
    margin-top: 50px;
}


.top-bar {
    background: linear-gradient(to right, #916f9985, #5c5db388);
    border-radius: 0px;
    display: flex;
    gap:5%;
    border: 3px solid #31313194;
    padding-left: 5px;
    border-radius: 10px;
    min-width: 600px;
    margin: auto;
    width: 55%;
    justify-content: space-between;
    align-items: center;
    box-shadow: 0 0 30px rgba(0, 0, 0, 0.7);
    transition: width 0.5s ease, border-color 0.3s ease;
}

.top-bar h4 {
    color:rgb(224, 224, 224); 
    margin: 0 10px 0 10px;
    min-width: 75px;
}

.top-bar:hover {
    width: 60%;
    border-color: #fb87ff94;
}

.fade-item {
    opacity: 0;
    transform: translateY(20px);
    transition: opacity 0.3s ease, transform 0.3s ease;
}
.fade-item.visible {
    opacity: 1;
    transform: translateY(0);
}

.divider-line {
    margin: auto;
    background: linear-gradient(to right, #fedeff, #fca6ff);
    height: 2px;
    width: 25%;
    min-width: 150px;
}

.modern-button {
    border-radius: 8px;
    border: 2px solid black;
    cursor: pointer;
    background-color: #f3f3f3;
    opacity: 0.5;
    margin-top: 5px;
    margin-bottom: 5px;
    font-weight: bolder; 
    height: 35px;
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.4);
    transition: background-color 0.3s ease, transform 0.2s ease, box-shadow 0.3s ease, border-color 0.3s ease, opacity 0.3s ease;
}

.modern-button:hover {
    background-color: rgb(201, 201, 201);
    transform: scale(1.05);
    box-shadow: 0 4px 10px 4gba(0, 0, 0, 0.2);
    border-color: #fb87ff;
    opacity: 1;
}

.selected {
    background-color: rgb(170, 170, 170);
    opacity: 0.8;
}

.logo-button {
    background: none;
    border: none;
    cursor: pointer;
}

.profile {
    margin: auto;
}

.container {
    background-color: rgba(34, 34, 87, 0.5);
    backdrop-filter: blur(10px);
    text-align: center;
    height: auto;
    width: 20%;
    min-width: 250px;
    border: 3px solid #31313194;
    border-radius: 8px;
    background-image: none;
    transition: transform 0.3s ease, box-shadow 0.3s ease, border 0.3s ease, filter 0.3s ease, opacity 0.3s ease, background-position 0s;
}


.container.game {
    padding-bottom: 10px;
}

.wide {
    width: 40%;
    min-width: 500px;
    height: 550px;
}

.row-div {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: row;
    gap: 15%;
    width: 100%;
    margin-top: 10px;
}

.column-div {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    gap: 10px;
    width: 100%;
    margin-top: 10px;
}

.half-width {
    width: 25%;
}

.container:hover {
    transform: scale(1.05);
    border: 3px solid #fb87ff94;
    box-shadow: 0 10px 10px rgba(0, 0, 0, 0.2);
}

.game {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 2%;
    background-image: url(resources/pycraftbackground.png);
    background-repeat: repeat;
}

.game:hover {
    background-position: right bottom;
    animation: infiniteDiagonal 15s linear infinite;
    transition: transform 0.3s ease, box-shadow 0.3s ease, border 0.3s ease, filter 0.3s ease, opacity 0.3s ease;
}

@keyframes infiniteDiagonal {
    from {
      background-position: 0% 0%;
    }
    to {
      background-position: 100% 100%;
    }
  }

.flex-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 2%;
}

.github {
    display: flex;
    align-items: center;
    justify-content: center;
    margin: auto;
    width: 125px;
    background-color: rgb(172, 172, 172)
}

.container-button {
    margin: auto;
    width: 125px;
}

.big-button {
    width: 200px;
    height: 50px;
}

.big-button p {
    color: rgb(255, 255, 255);
}

.flex-div {
    display: flex;
    justify-content: center;
    gap: 5%;
    margin-top: 25px;
}

.right-align {
    margin-right: auto;
    display: flex;
}

html, body {
    height: 100%;
    margin: 0;
    padding: 0;
    position: relative;
}

#particles-js {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: -1;
    background: transparent;
}

.corner-label {
    position: fixed;
    bottom: 10px;
    left: 10px;
    font-size: 12px;
    color: #777;
    z-index: 1000;
  }

.itchio {
    background-image: url('resources/itch-io-download.png');
    background-size: cover;
    background-position: center;
}


