body {
    background: linear-gradient(to right, rgb(58, 58, 58), rgb(118, 103, 128));
    opacity: 0;
    filter: blur(5px);
    animation: blurIn 0.5s ease-in-out forwards;
}


@keyframes blurIn {
    from {
        opacity: 0;
        filter: blur(5px);
    }
    to {
        opacity: 1;
        filter: blur(0);
    }
}


h1, p {
    font-family:Arial;
    text-align: center;
}

h1 {
    color: white;
    width: 500px;
    margin-left: auto;
    margin-right: auto;
    font-size: 50px;
}

.body-text {
    width: 50%;
    margin-left: auto;
    margin-right: auto;
    border-radius: 8px;
    height: 50%;
    margin-top: 50px;
}


.top-bar {
    background: linear-gradient(to right, #916f99, #5c5db3);
    border-radius: 0px;
    display: flex;
    gap:5%;
    padding-left: 5px;
    border-radius: 8px;
    min-width: 500px;
    margin: auto;
    justify-content: center;
    box-shadow: 0 0 30px rgba(0, 0, 0, 0.7);
}

.divider-line {
    margin: auto;
    background: linear-gradient(to right, #fedeff, #fca6ff);
    height: 2px;
    width: 25%;
    min-width: 300px;
}

.modern-button {
    border-radius: 8px;
    cursor: pointer;
    background-color: #cccccc;
    margin-top: 5px;
    margin-bottom: 5px;
    font-weight: bolder; 
    height: 35px;
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.4);
    transition: background-color 0.3s ease, transform 0.2s ease, box-shadow 0.3s ease;
}

.modern-button:hover {
    background-color: rgb(170, 170, 170);
    transform: scale(1.05);
    box-shadow: 0 4px 10px 4gba(0, 0, 0, 0.2);
    border-color: #fb87ff;
}

.selected {
    background-color: rgb(170, 170, 170);
}

.logo-button {
    background: none;
    border: none;
    cursor: pointer;
}

.profile {
    margin: auto;
}

.right-align {
    margin-right: auto;
    display: flex;
}