body {
    background: linear-gradient(to right, rgb(110, 53, 133), rgb(83, 108, 136));
    opacity: 0;
    filter: blur(5px);
    transition: filter 0.15s ease, opacity 0.15s ease;
    font-family: Arial;
}

body.loaded {
    filter: blur(0);
    opacity: 1;
}

.hidden {
    display: none;
}

.blur-out {
    filter: blur(5px);
    opacity: 0;
    transition: filter 0.5s ease, opacity 0.5s ease;
}  

@keyframes blurIn {
    from {
        opacity: 0;
        filter: blur(5px);
    }
    to {
        opacity: 1;
        filter: blur(0);
    }
}



h1, p, h2 {
    text-align: center;
}

h2 {
    color: white;
}

h2 img {
    vertical-align: middle;
    margin-right: 20px;
}

figcaption {
    color: white;
    font-weight: bolder;
}

.img-round {
    border-radius: 8px;
    border: 3px solid #31313194
}

.hoverable {
    transition: transform 0.3s ease, box-shadow 0.3s ease, border 0.3s ease, filter 0.3s ease, opacity 0.3s ease, background-position 0s;
}

.hoverable:hover {
    transform: scale(1.05);
    border: 3px solid #fb87ff94;
    box-shadow: 0 10px 10px rgba(0, 0, 0, 0.2);
}

.language {
    display: flex;
    align-items: center; /* Aligns the items vertically in the center */
    gap: 10px; /* Adds spacing between the image and text */
    font-size: 24px;
    color: white;
}

.languages {
    margin-left: 20%;
    margin-right: 25%;
    margin-top: 0
}

.language img {
    width: 40px; /* Adjust image size if necessary */
    height: 40px;
}

h1 {
    color: white;
    width: 500px;
    margin-left: auto;
    margin-right: auto;
    font-size: 50px;
}

.body-text {
    width: 50%;
    margin-left: auto;
    margin-right: auto;
    border-radius: 8px;
    height: 50%;
    margin-top: 50px;
}


.top-bar {
    background: linear-gradient(to right, #916f99, #5c5db3);
    border-radius: 0px;
    display: flex;
    gap:5%;
    padding-left: 5px;
    border-radius: 8px;
    min-width: 500px;
    margin: auto;
    justify-content: center;
    box-shadow: 0 0 30px rgba(0, 0, 0, 0.7);
}

.divider-line {
    margin: auto;
    background: linear-gradient(to right, #fedeff, #fca6ff);
    height: 2px;
    width: 25%;
    min-width: 150px;
}

.modern-button {
    border-radius: 8px;
    border: 2px solid black;
    cursor: pointer;
    background-color: #f3f3f3;
    opacity: 0.5;
    margin-top: 5px;
    margin-bottom: 5px;
    font-weight: bolder; 
    height: 35px;
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.4);
    transition: background-color 0.3s ease, transform 0.2s ease, box-shadow 0.3s ease, border-color 0.3s ease, opacity 0.3s ease;
}

.modern-button:hover {
    background-color: rgb(201, 201, 201);
    transform: scale(1.05);
    box-shadow: 0 4px 10px 4gba(0, 0, 0, 0.2);
    border-color: #fb87ff;
    opacity: 1;
}

.selected {
    background-color: rgb(170, 170, 170);
    opacity: 0.8;
}

.logo-button {
    background: none;
    border: none;
    cursor: pointer;
}

.profile {
    margin: auto;
}

.container {
    background-color: rgba(34, 34, 87, 0.5);
    backdrop-filter: blur(10px);
    text-align: center;
    height: 450px;
    width: 20%;
    min-width: 250px;
    border: 3px solid #31313194;
    border-radius: 8px;
    background-image: none;
    transition: transform 0.3s ease, box-shadow 0.3s ease, border 0.3s ease, filter 0.3s ease, opacity 0.3s ease, background-position 0s;
}

.wide {
    width: 40%;
    min-width: 500px;
    height: 550px;
}

.row-div {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: row;
    gap: 15%;
    width: 100%;
    margin-top: 10px;
}

.container:hover {
    transform: scale(1.05);
    border: 3px solid #fb87ff94;
    box-shadow: 0 10px 10px rgba(0, 0, 0, 0.2);
}

.game {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 2%;
    background-image: url(resources/pycraftbackground.png);
    background-repeat: repeat;
}

.game:hover {
    background-position: right bottom;
    animation: infiniteDiagonal 15s linear infinite;
    transition: transform 0.3s ease, box-shadow 0.3s ease, border 0.3s ease, filter 0.3s ease, opacity 0.3s ease;
}

@keyframes infiniteDiagonal {
    from {
      background-position: 0% 0%;
    }
    to {
      background-position: 100% 100%;
    }
  }

.flex-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 2%;
}

.github {
    display: flex;
    align-items: center;
    justify-content: center;
    margin: auto;
    width: 125px;
    background-color: rgb(172, 172, 172)
}

.container-button {
    margin: auto;
    width: 125px;
}

.flex-div {
    display: flex;
    justify-content: center;
    gap: 5%;
    margin-top: 25px;
}

.right-align {
    margin-right: auto;
    display: flex;
}